<%= render "layouts/navbar" %>

<div class="new-order-wrapper">
  <div class="global-wrapper">
    <div class="card order-summary-card">
      <div class="card-content">
        <div class="card-header-title is-centered">
          <label class="label">
            <h1 class="subtitle">Order Summary</h1>
          </label>
        </div>
        <br />
        <table class="order-summary">
          <% @cart.line_items.each do |line_item| %>
            <tr>
              <td class="td-item-name">
                <strong><%= line_item.item.name %></strong>
              </td>
              <td class="td-item-price">
                <strong><%= number_to_currency(line_item.item.price) %></strong>
              </td>
              <tr>
                <td>Size: <%= line_item.size %></td>
                <% if line_item.size == "Small" %>
                  <td><%= number_to_currency(0.0) %></td>
                <% elsif line_item.size == "Medium" %>
                  <td><%= number_to_currency(0.10) %></td>
                <% elsif line_item.size == "Large" %>
                  <td><%= number_to_currency(0.20) %></td>
                <% end %>
              </tr>
              <tr>
                <td>Flavor: <%= line_item.flavor %></td>
                <% if !line_item.flavor.nil? %>
                  <td><%= number_to_currency(0.10) %></td>
                <% end %>
              </tr>
              <tr>
                <td>Add-in: <%= line_item.addins %></td>
                <% if !line_item.addins.nil? %>
                  <td><%= number_to_currency(0.0) %></td>
                <% end %>
              </tr>
              <tr>
                <td>Espresso Shots: <%= line_item.espresso_shots %></td>
                <% if !line_item.espresso_shots.nil? %>
                  <% if line_item.espresso_shots.to_i >= 1.0 %>
                    <td><%= number_to_currency(0.20) %></td>
                  <% else %>
                    <td><%= number_to_currency(0.0) %></td>
                  <% end %>
                <% end %>
              </tr>
            </tr>
          <% end %>
          <tr>
            <td>
            </td>
            <td class="td-summary-price">
              <strong>
                <!-- Subtotal: <%#= number_to_currency(@cart.total_price) %> -->
                Subtotal: <%= number_to_currency(@cart.total_price) %>
              </strong>
              <br />
              <strong>
                <!-- Sales Tax: <%#= number_to_currency(@cart.total_price * (sales_tax_florida), precision: 2) %> -->
                Sales Tax: <%= number_to_currency(@cart.tax_on_price) %>
              </strong>
              <br />
              <strong>
                Total: <%= number_to_currency(@cart.total_price_with_tax) %>
              </strong>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<nav class="navbar is-fixed-bottom is-transparent bottom-nav" role="navigation">
  <%#= navbar start %>
  <div class="navbar-start">
    <div class="navbar-item">
      <div class="field is-grouped">
        <%= link_to 'Back', cart_path(@cart), class: "button is-large is-warning" %>
      </div>
    </div>
  </div>
  <%#= navbar end %>
  <div class="navbar-end">
    <div class="navbar-item">
      <label class="amount">
        Total: <%= number_to_currency(@cart.total_price_with_tax) %>
      </label>
    </div>

    <div class="navbar-item">
      <div class="column">
        <%#= form_tag order_items_path(cart_id: @cart) do %>
        <%= form_tag charges_path(cart_id: @cart) do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" 
                  class="stripe-button"
                  data-email="<%= current_user.email %>"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-locale="auto"></script>
        <% end %>
      </div>
    </div>

    <div class="navbar-item">
      <div class="field is-grouped">
        <div class="column">
          <%# passes in the cart id to the order_item %>
          <%#= button_to "Create Order", order_items_path(cart_id: @cart), class: "button is-medium is-primary" %>
          <%#= link_to "Continue", new_order_path(cart_id: @cart), class: "button is-medium is-primary" %>
          <%#= button_to "Submit Order", order_items_path(cart_id: @cart), class: "button is-medium is-primary" %>
        </div>
      </div>
    </div>
  </div>
</nav>
