<% @orders.each do |order| %>
  <div class="kitchen-cell">
    <div class="card kitchen-orders">
      <%= div_for(order, class: "order") do %>
        <header class="card-header order-status-header">
          <%= form_for order do |f| %>
            <div class="select">
              <%= f.select :status, options_for_select(["Pending", "Completed"]), class: "select-order-status" %>
            </div>
            <%= f.submit "Submit", class: "button is-medium order-status-btn" %>
          <% end %>
          <br />
        </header>

        <div class="card-content">
          <div class="content">
            <span class="tag is-info is-medium order-status-notice">
              Order No. <%= order.id %>
            </span>
            <span class="tag is-primary is-medium order-status-notice">
              User No. <%= order.user_id %>
            </span>
            <span class="tag is-danger is-medium order-status-notice">
              <%= time_ago_in_words(order.created_at) %>
            </span>
          </div>
        </div>
        <div class="card-content">
          <div class="content">
            <div class="columns is-multiline">
              <% order.order_items.each do |order_item| %>
                <% order_item.cart.line_items.each do |line_item| %>
                  <div class="column auto line-item-name-col">
                    <strong><%= line_item.name %></strong>
                    <br />
                    <div class="item-options">
                      <label>Size:</label>
                      <%= line_item.size %>
                      <br />
                      <label>Flavor</label>
                      <%= line_item.flavor %>
                      <br />
                      <label>Add ins</label>
                      <%= line_item.addins %>
                      <br />
                      <label>Espresso Shots</label>
                      <%= line_item.espresso_shots %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
