<%= render "layouts/employees_nav" %>

<div class="orders-index-wrapper">
	<h1 class="title">Orders</h1>
	<div class="grid">
		<% @orders.each do |order| %>
			<div class="kitchen-cell">
				<div class="card kitchen-orders">
					<%= div_for(order, class: "order") do %>
						<div class="field">
							<div class="control">
								<div class="select">
									<select name="order_status" id="order_status">
										<option value="1" selected>Pending</option>
										<option value="2">Completed</option>
									</select>
								</div>
							</div>
						</div>
            <div class="card-content">
              <div class="content">
                <!-- <td><%#= link_to order.id, employee_order_path(order) %></td> -->
                <span class="tag is-warning is-medium">
                  Order No. <%= order.id %>
                </span>
                <span class="tag is-primary is-medium">
                  User No. <%= order.user_id %>
                </span>
                <span class="tag is-danger is-medium">
                  <%= time_ago_in_words(order.created_at) %>
                </span>
              </div>
            </div>
						<div class="card-content">
							<div class="content">
                <div class="columns is-multiline">
                  <% order.order_items.each do |order_item| %>
                    <% order_item.cart.line_items.each do |line_item| %>
                      <div class="column is-half line-item-name kitchen-line-item-name">
                        <%= line_item.name %>
                      </div>
                      <div class="column is-half line-item-price kitchen-line-item-price">
                        <%= line_item.price %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
							</div>
						</div>
				</div>
			</div>
		<% end %>
	<% end %>
	</div>
</div>

<%#= render "layouts/employees_bottom_nav" %>
