<%= render "layouts/navbar" %>

<div class="new-order-wrapper">
  <div class="global-wrapper">
    <%# New order will be made based on the cart id params! %>
    <div class="card order-summary-card">
      <div class="card-content">
        <div class="card-header-title is-centered">
          <h2 class="title">Order Summary</h2>
        </div>
        <table class="order-summary">
          <% @cart.line_items.each do |line_item| %>
            <tr>
              <td class="td-item-name"><%= line_item.item.name %></td>
              <td class="td-item-price"><%= number_to_currency(line_item.item.price) %></td>
            </tr>
          <% end %>
          <tr>
            <td>
            </td>
            <td class="td-summary-price">
              <strong>Subtotal: <%= number_to_currency(@cart.total_price) %></strong>
              <br />
              <strong>Sales Tax: <%= number_to_currency(@cart.total_price * (@order.tax_amount), precision: 2) %></strong>
              <br />
              <strong>Total: <%= number_to_currency(total_price_after_sales_tax) %></strong>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<nav class="navbar is-fixed-bottom is-transparent bottom-nav" role="navigation">
  <div class="navbar-start">
    <div class="navbar-item">
      <div class="field is-grouped">
        <%= link_to 'Back', cart_path(@cart), class: "button is-large is-warning" %>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <div class="column total has-text-right">
          <%#= link_to "Continue", "#", class: "button is-large is-warning" %>
          <%# Stripe %>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-amount="<%= number_to_currency(total_price_after_sales_tax) %>"
                    data-email="<%= current_user.email %>"
                    data-locale="auto">
            </script>
          <% end %>
          <%# end stripe %>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
