<%# Orders#order_summary %>

<%= render "layouts/order_summary_navbar" %>

<div class="global-wrapper">
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <header class="card-header">
          <h2 class="subtitle">Order Summary</h2>
          <!-- <p><%#= @current_sessions_cart_id %> -->
        </header>
        <br />
        <p>Your Order No. is: <%= @order.id %></p>
        <br/>

        <div class="columns is-multiline is-responsive">
          <% @order.order_items.each do |order_item| %>
            <% order_item.cart.line_items.each do |line_item| %>
              <div class="column is-half line-item-name">
                <%= line_item.name %>
              </div>
              <div class="column is-half line-item-price">
                <%= number_to_currency(line_item.price) %>
              </div>
            <% end %>
          <% end %>
        </div>

        <hr />

        <div class="columns is-multiline is-responsive">
          <div class="column is-half line-item-name">
            <strong>Order number:</strong><br />
            <strong>Order subtotal:</strong><br />
            <strong>Order tax: </strong><br />
            <strong>Order total:</strong>
          </div>
          <div class="column is-half line-item-price">
            <%= @order.id %><br />
            <%= number_to_currency(@order.subtotal) %><br />
            <%= number_to_currency(@order.tax, precision: 2) %><br />
            <%= number_to_currency(@order.total) %>
          </div>
        </div>
      </div>
    </div>
  </div>
