<%= render "layouts/navbar" %>
<%= params.inspect %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="keep-shopping pv1 mt4 has-text-right">
    <%#= rails routes with nested route, we can pass in the actual @cart object
      from the session %>
    <%= link_to "Order", new_cart_order_path(@cart), class: "button is-primary is-large" %>
    <%= link_to "Keep Shopping", items_path, class: 'button is-warning is-large' %>
  </div>

  <hr />

  <section class="section">
    <%= render(@cart.line_items)%>
    <div class="columns">
      <div class="column">
        <br />
        <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger is-large" %>
      </div>
      <div class="column total has-text-right">
        <h4 class="title is-4">
          <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price, precision: 2) %>
        </h4>
      </div>
    </div>
  </section>

  <%#= link_to 'Edit', edit_cart_path(@cart) %>
  <%#= link_to 'Back', carts_path %>
</div>
