<%= render "layouts/navbar" %>

<div class="line-items-index">
  <div class="container">
    <div class="keep-shopping pv1 mt4 has-text-right">
      <%#= rails routes with nested route, we can pass in the actual @cart object
        from the session %>
      <%# app/views/charges/new.html.erb %>


      <%#= link_to "Order", new_cart_order_path(@cart), class: "button is-primary is-large" %>
      <%#= link_to "Keep Shopping", items_path, class: 'button is-warning is-large' %>
    </div>

    <p id="notice">
      <%= notice %>
    </p>

    <hr />

    <section class="section">
      <%= render(@cart.line_items)%>
      <div class="columns">
        <!-- <div class="column">
          <br />
          <%#= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger is-large" %>
          </div> -->

      </div>
    </section>
    <%#= link_to 'Edit', edit_cart_path(@cart) %>
    <%#= link_to 'Back', carts_path %>
  </div>
</div>

<nav class="navbar is-fixed-bottom is-transparent bottom-nav" role="navigation">
  <div class="navbar-brand">
    <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger is-large" %>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <div class="column total has-text-right">
          <h4 class="title is-4">
            <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price, precision: 2) %>
          </h4>
        </div>

        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <!-- <span><%#= @cart.total_price %></span> -->
            <!-- span>Amount: <%#= pretty_amount(@amount) %></span> -->
          </article>

          <script src="https://checkout.stripe.com/checkout.js" 
                  class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Signed in as"
                  data-amount="<%= number_to_currency(@cart.total_price) %>"
                  data-locale="auto">
          </script>
        <% end %>
        <script>
          $(document).ready(function() {
            $(':submit').on('click', function(event) {
              event.preventDefault();
              var $button = $(this),
                $form = $button.parents('form');
              var opts = $.extend({}, $button.data(), {
                token: function(result) {
                  $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                }
              });
              StripeCheckout.open(opts);
            });
          });
        </script>
      </div>
    </div>
  </div>
</nav>
