<%= render "layouts/navbar" %>

<div class="global-wrapper">
  <div class="responsive-container">
    <div class="container">
      <button class="button normal is-outlined user-notification">
        <%= fa_icon "user", class: "pull-left" %>
        <%= current_user.email %>
      </button>
    </div>
    <div class="keep-shopping pv1 mt4 has-text-right">
      <%#= rails routes with nested route, we can pass in the actual @cart object from the session %>
      <%# app/views/charges/new.html.erb %>
      <%#= link_to "Order", new_cart_order_path(@cart), class: "button is-primary is-large" %>
      <%#= link_to "Keep Shopping", items_path, class: 'button is-warning is-large' %>
    </div>

    <p id="notice">
      <%= notice %>
    </p>

    <hr />

    <div class="carts-container">
      <%= render(@cart.line_items)%>
    </div>
    <%#= link_to 'Edit', edit_cart_path(@cart) %>
    <%#= link_to 'Back', carts_path %>
  </div>
</div>

<%= render "layouts/bottom_nav" %>
