<%= render "layouts/navbar" %>

<div class="new-session-wrapper">
  <div class="global-wrapper">
    <section class="section">
      <div class="container center-container">
        <h2 class="title">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, 
              autofocus: true, 
              autocomplete: "email",
              placeholder: "Email",
              class: "input"
            %>
          </div>

          <div class="field">
            <%= f.password_field :password, 
              autocomplete: "off",
              placeholder: "password",
              class: "input"
            %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me, class: "checkbox" %>
              <%= f.label :remember_me, class: "checkbox" %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "button is-primary max-width-btn" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </section>
  </div>
</div>
