<%= render "layouts/navbar" %>

<div class="container some-responsive-thing">
  <div class="columns is-multiline">
    <% @items.each do |item| %>
      <div class="column is-6">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-content">
            <div class="media-content card-media-content">
              <p class="title is-4">
                Name: <%= item.name %>
              </p>
              <p class="subtitle is-4">
                Item Type: <%= item.item_type %>
              </p>
              <p class="subtitle is-4">
                Price: <%= item.price %>
              </p>
              <p class="subtitle is-4">
                <%= item.description %>
              </p>
              <% if signed_in? %>
                <%= link_to "Show", "#" %><br />
                <%= link_to "Edit", "#" %><br />
                <%= link_to "Destroy", "#" %><br />
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

