<section class="section">
  <div class="columns">
    <div class="column is-2">
      <p>laksndlkasndlkasnd</p>
    </div>
    <div class="columns is-multiline">
      <%= render "layouts/card" %>
      <%= render "layouts/card" %>
      <%= render "layouts/card" %>
      <%= render "layouts/card" %>
      <%= render "layouts/card" %>
      <%= render "layouts/card" %>
    </div>

  </div>
</section>
