<div class="container">
  <%= link_to "Menu", items_path %><br />

  <%= @item.name %><br />
  <%= @item.price %><br />
  <%= @item.description %><br />

  <% if signed_in? %>
    <%= render "layouts/nav" %><br />
    <%= link_to "Edit", "#" %><br />
    <%= link_to "Destroy", "#" %><br />
  <% else %>
    <%= link_to "Add Item", "#" %><br />
  <% end %>

</div>
