<%= render "layouts/navbar" %>

<div class="global-wrapper">
  <section class="section">
    <% if !signed_in? %>
      <div id="notice">Sign in to add item to order</div>
      <hr />
    <% end %>

    <div class="columns">
      <div class="column is-one-quarter">
        <div class="item-image">
          <%= image_tag(@item.image.url, alt: "Image", class: "is-round") if @item.image? %>
        </div>
      </div>

      <div class="column is-two-thirds">
        <div class="item-name">
          <%= @item.name %>
        </div>
        <div class="item-price">
          <%= @item.price %>
        </div>

        <%= button_to "Add to cart", line_items_path(item_id: @item), class: 'button is-primary is-large add-to-cart' %>

        <% if signed_in? %>
          <%#= link_to "Add Item", "#", class: "button is-primary is-large" %><br /><br />
          <%#= link_to "Edit", edit_item_path, class: "button is-medium" %>
          <%#= link_to "Destroy", "#", class: "button is-medium" %>
        <% end %>
        <%= @item.description %><br />
      </div>
    </div>
  </section>
</div>
