<% if signed_in? %>
  <%= render "layouts/nav" %><br />
  <%= link_to "Edit", "#" %><br />
  <%= link_to "Destroy", "#" %><br />
<% end %>
<%= link_to "Back", items_path %>
<p><%= params.inspect %></p>
