<div class="container">
  <%= render "layouts/navbar" %>

  <figure class="image is-128x128">
    <%#= image_tag("https://bulma.io/images/placeholders/640x480.png") %>
    <%= image_tag(@item.image.url, alt: "Image") if @item.image? %>
  </figure>

  <%= @item.name %><br />
  <%= @item.price %><br />
  <%= @item.description %><br />

  <% if signed_in? %>
    <%= link_to "Edit", edit_item_path %><br />
    <%= link_to "Destroy", "#" %><br />
  <% else %>
    <%= link_to "Add Item", "#" %><br />
  <% end %>

</div>
