<div class="container">
  <%= render "layouts/navbar" %>

  <%= @item.name %><br />
  <%= @item.price %><br />
  <%= @item.description %><br />

  <% if signed_in? %>
    <%= link_to "Edit", edit_item_path %><br />
    <%= link_to "Destroy", "#" %><br />
  <% else %>
    <%= link_to "Add Item", "#" %><br />
  <% end %>

</div>
