<div class="columns">
  <div class="column auto">
    <strong class="remove-item">
      <%#= link_to "", line_item, method: :delete, data: {confirm: "Are you sure?"}, class: "delete is-large is-danger" %>
      <%#= link_to line_item, method: :delete, data: {confirm: "Are you sure?"}, class: "delete is-large is-danger" do %>
        <%#= fa_icon "times-circle" %>
        <%# end %>
    </strong>
  </div>
  <div class="column is-one-fifths">
    <figure class="is-128x128 image">
      <%= image_tag(line_item.item.image_url(:thumb)) %>
    </figure>
    <!-- <strong>Amount: <%#= line_item.quantity %></strong> -->
  </div>

  <div class="column is-half">
    <strong><%= line_item.item.name %></strong>
    <%= sanitize(line_item.item.description) %>
  </div>
  <div class="column is-one-quarter">
    <%= number_to_currency(line_item.item.price) %>
  </div>

  <div class="column is-one-quarter">
    <%= link_to "", line_item, method: :delete, data: {confirm: "Are you sure?"}, class: "button is-medium delete is-large is-danger" %>
  </div>

  <!-- <strong class="f4">
    <%#= number_to_currency(line_item.total_price) %>
    </strong> -->
</div>
