<%# line item partial %>
<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column is-one-fifths">
        <figure class="is-128x128 image">
          <%= image_tag(line_item.item.image_url(:thumb)) %>
        </figure>
        <!-- <strong>Amount: <%#= line_item.quantity %></strong> -->
      </div>

      <div class="column is-half">
        <h1 class="title">
          <strong>
            <%= line_item.item.name %>
          </strong>
        </h1>
        <div class="line-item-description">
          <%#= line_item.item.description.html_safe %>
          <p><%= sanitize(line_item.item.description) %></p>
        </div>

        <% if line_item.item_type == "Cold Drink" %>
          <div class="line-item-options">
            <div>
              Size: <%= line_item.size %>
            </div>
            <div>
              Flavor: <%= line_item.flavor %>
            </div>
            <div>
              Add-in: <%= line_item.addins %>
            </div>
            <div>
              Espresso Shots: <%= line_item.espresso_shots %>
            </div>
          </div>
        <% elsif line_item.item_type == "Hot Drink" %>
          <div class="line-item-options">
            <div>
              Size: <%= line_item.size %>
            </div>
            <div>
              Flavor: <%= line_item.flavor %>
            </div>
            <div>
              Add-in: <%= line_item.addins %>
            </div>
            <div>
              Espresso Shots: <%= line_item.espresso_shots %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column is-one-quarter">
        <h1 class="subtitle">
          <strong>
            <%= number_to_currency(line_item.item.price) %>
          </strong>
        </h1>
      </div>

      <div class="column is-one-quarter">
        <%= link_to line_item do %>
          <%= fa_icon("window-close 1x") %>
          Remove
        <% end %>
        <%#= link_to "Remove", line_item, method: :delete, data: { confirm: "Are you sure?" } %>
        <%#= link_to "", line_item, method: :delete, data: {confirm: "Are you sure?"}, class: "button is-medium delete is-large is-danger" %>
      </div>
    </div>

    <% if line_item.item_type == "Cold Drink" %>
      <%= form_for line_item do |form| %>
        <label>Drink Options:</label>
        <br />
        <div class="select">
          <%= form.select :size, options_for_select(["None", "Small", "Medium", "Large"]), class: "select-size-options" %>
        </div>
        <div class="select">
          <%= form.select :flavor, options_for_select(["None", "Simple Syrup", "Hazelnut Syrup", "Vanilla Syrup", "Toffee Nut Syrup"]), class: "select-size-options" %>
        </div>
        <div class="select">
          <%= form.select :addins, options_for_select(["None", "Splash of 2% Milk", "Splash of 1% Milk", "Splash of Almondmilk", "Splash of Soymilk"]), class: "select-size-options" %>
        </div>
        <div class="select">
          <%= form.select :espresso_shots, options_for_select([0, 1, 2, 3, 4]), class: "select-size-options" %>
        </div>
        <%= form.submit "Confirm Options", class: "button" %>
      <% end %>
    <% elsif line_item.item_type == "Hot Drink" %>
      <%= form_for line_item do |form| %>
        <label>Drink Options:</label>
        <br />
        <div class="select">
          <%= form.select :size, options_for_select(["None", "Small", "Medium", "Large"]), class: "select-size-options" %>
        </div>
        <div class="select">
          <%= form.select :flavor, options_for_select(["None", "Simple Syrup", "Hazelnut Syrup", "Vanilla Syrup", "Toffee Nut Syrup"]), class: "select-size-options" %>
        </div>
        <div class="select">
          <%= form.select :addins, options_for_select(["Milk", "Almondmilk", "Soymilk"]), class: "select-size-options" %>
        </div>
        <div class="select">
          <%= form.select :espresso_shots, options_for_select([0, 1, 2, 3, 4]), class: "select-size-options" %>
        </div>
        <%#= form.number_field(:espresso_shots, in: 0.0..5.0, step: 1.0, class: "espresso-num-field", placeholder: "0") %>
        <%= form.submit "Confirm Options", class: "button" %>
      <% end %>
    <% end %>
  </div>
</div>
