<div class="tabs employees-nav">
  <ul>
    <% if employee_signed_in? %>
      <li>
        <span class="signed-in-as-container">
          <%= fa_icon "user " %>
          <%= current_employee.email %>
        </span>
      </li>
    <% end %>
    <!-- <li><%#= link_to "Dashboard", dashboard_path %></li> -->
    <li><%= link_to "EmployeeDash", dashboard_path %>
    <li><%= link_to "Orders", orders_path %></li>
    <li><%= link_to "Kitchen", "#" %></li>
  </ul>
</div>
