<nav class="navbar is-fixed-top">
  <div class="navbar-start">
    <div class="navbar-item">
      <div class="user-notification">
        <% if employee_signed_in? %>
          <%= fa_icon "user", class: "user-icon" %>
          <%= current_employee.email %>
        <% end %>
      </div>
    </div>
    <div class="navbar-item">
      <div id="notice">
        <strong><%= notice %></strong>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div class="field is-grouped">
      <div class="navbar-item">
        <%= link_to "Orders", orders_path, class: "button is-medium" %>
      </div>
      <div class="navbar-item">
        <%= link_to "Sign out", destroy_employee_session_path, method: :delete, class: "button is-medium" %>
      </div>
    </div>
  </div>
</nav>
