<nav class="landing-navbar">
  <div class="landing-title">
    <div class="nav-items-left">
      <ul>
        <li><%= link_to "Spill the Bean Coffee Roasters", root_path, class: "hero-title" %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Shop", items_path %></li>
        <li><%= link_to "About Us", root_path %></li>
      </ul>
    </div>
  </div>
  <div class="nav-items-right">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <li class="shopping-cart">
          <% if cart_has_items %>
            <%= link_to cart_path(@cart) do %>
              <%= fa_icon "shopping-cart 1x" %>
              <span class="cart-quantity">
                <%= cart_count_over_one %>
              </span>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

