<nav class="navbar is-transparent">
  <div class="container">

    <div class="navbar-brand">
      <%= link_to "Spill the Beans", root_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <% if signed_in? %>
            <p class="control">
              <span>
                Welcome <%= current_user.first_name %>
              </span>
            </p>
            <p class="control">
              <%= link_to "Menu", items_path %>
            </p>
            <p class="control">
              <%#= link_to "Order", "#" %>

              <% if cart_has_items %>
                <%= link_to cart_path(@cart), class:"navbar-item button is-info" do %>
                  <span class="icon is-small">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                  <span>Cart
                    <%= cart_count_over_one %>
                  </span>
                <% end %>
              <% end %>

            </p>
            <!-- <p class="control">
              <span>
                <%#= link_to "New item", new_item_path %>
              </span> -->
            </p>
            <p class="control">
              <span>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </span>
            </p>
          <% else %>
            <p class="control">
              <%= link_to "Menu", items_path %>
            </p>
            <p class="control">
              <%= link_to "Sign in", new_user_session_path, class: "bd-tw-button button" %>
            </p>
            <p class="control">
              <%= link_to "Sign up", new_user_registration_path, class: "bd-tw-button button is-primary" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</nav>
