<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to "Spilling the Beans", root_path, class: "navbar-item" %>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <% if signed_in? %>
          <p class="control">
            <span>
              Signed in as: <%= current_user.email %>
            </span>
          </p>
          <p class="control">
            <%= link_to "Dashboard", items_path %>
          </p>
          <p class="control">
            <%= link_to "Menu", items_path %>
          </p>
          <p class="control">
            <span>
              <%= link_to "New item", new_item_path %>
            </span>
          </p>
          <p class="control">
            <span>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </span>
          </p>
        <% else %>
          <p class="control">
            <%= link_to "Menu", items_path %>
          </p>
          <p class="control">
            <%= link_to "Sign in", new_user_session_path, class: "bd-tw-button button" %>
          </p>
          <p class="control">
            <%= link_to "Sign up", new_user_registration_path, class: "bd-tw-button button is-primary" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</nav>
